@font-face {
  font-family: minecraft;
  src: url(https://raw.githubusercontent.com/IdreesInc/Monocraft/main/Monocraft.otf);
}

a, h1, h2, h3, h4, h5, h6, div, span, select, option {
  font-family: 'minecraft';
}

body {
  background-color: #e0e0e0;
  color: #213e3b;
}
h1 {
  color: #14274e;
}
h3 {
  color: #7579e7;
}
a {
  color: #3862d4;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #232B32;
    color: #f0ece2;
  }
  h1 {
    color: #7579e7;
  }
  h3 {
    color: #69779b;
  }
  img {
    filter: brightness(0.9);
  }
}