@font-face {
  font-family: minecraft;
  src: url(https://raw.githubusercontent.com/The-Bds-Maneger/Bds-Maneger-html-assets/main/font/Minecraft.ttf);
}
@font-face {
  font-family: minecraft-bold;
  src: url(https://raw.githubusercontent.com/The-Bds-Maneger/Bds-Maneger-html-assets/main/font/Mojang-Bold.ttf);
}
@font-face {
  font-family: minecraft-regular;
  src: url(https://raw.githubusercontent.com/The-Bds-Maneger/Bds-Maneger-html-assets/main/font/Mojang-Regular.ttf);
}

.log {
  margin-top: 12px;
  height: 80vh;
  margin-right: -0.5vw;
  overflow: scroll;
  font-family: minecraft, minecraft-bold, minecarft-regular;
}