@font-face {
  font-family: "IdreesIncMonocraft";
  src: url(https://raw.githubusercontent.com/IdreesInc/Monocraft/main/Monocraft.otf);
}

@font-face {
  src: url(https://raw.githubusercontent.com/The-Bds-Maneger/Bds-Maneger-html-assets/main/font/Minecraft.ttf);
  font-family: "MojangMinecraft";
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
select,
option,
button
{
  font-family: "IdreesIncMonocraft", "MojangMinecraft";
}

select {
  width: 100%;
  min-width: 15ch;
  max-width: 25vmax;
  border: 1px solid #777;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

body {
  background-color: #e0e0e0;
  color: #213e3b;
  transition: all 1s;
}

h1, h2, h3, h4, h5, h6 {
  color: #4b86ff;
}
h3 {
  color: #7579e7;
}
a {
  color: #3862d4;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #191c29;
    color: #f0ece2;
  }
  h1 {
    color: #7579e7;
  }
  h3 {
    color: #69779b;
  }
  img {
    filter: brightness(0.9);
  }
}