.platformID {
  justify-items: stretch;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (min-width: 800px) {
  .platformID {
    display: flex;
    margin-top: 10px;
  }
}

.platfornCard {
  min-width: 0;
  background-color: #1c1c1c;
  border-radius: 6px;
  padding: 8px;
  transition: all 0.5s;
  margin: 0.2%;
}

/* Server Started */
.platfornCard[id="running"] {
  background-color: #00ff002b;
}

/* Server Started */
.platfornCard[id="stoped"] {
  background-color: #ff00005e;
}