[Unit]
Description=Daemon and CLI to maneger You Minecraft Server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bdsd daemon
ExecStop=/bin/bdsd server stop
Restart=on-failure
Type=simple